<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="com.emotte.order.gentlemanSignature.mapper.reader.ReQueryAgreementPreviewMapper">

<select id="queryAgreementPreview"  parameterType="com.emotte.order.order.model.Agreement" resultType="com.emotte.order.order.model.Agreement">
	select
			oa.ID as id ,	
			oa.ORDER_ID as orderId ,
			oa.AGREEMENT_MODEL AS agreementModel,
			oa.AGREEMENT_STATE as agreementState,
			oa.PREVIEW_CONTACT_FILE as previewContactFile,
			oa.NORMAL_CONTACT_FILE as normalContactFile,
			oa.VALID as valid			
	from  T_ORDER_AGREEMENT oa left join t_base_dictionary d on d.dict_code = oa.agreement_model
	<where> 
	    1=1
		<if test="id!=null and id!='' ">           
			and	oa.ID =  #{id} 		
		</if>
		<if test="orderId!=null and orderId!='' ">           
			and	oa.ORDER_ID =  #{orderId} 		
		</if>
		<if test="valid!=null and valid!='' ">           
			and	oa.VALID =  #{valid} 		
		</if>	
	</where>
	order by oa.CREATE_TIME desc
	</select>


</mapper>