<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.emotte.order.order.mapper.reader.ReProductThirdDivideMapper">
	 <select id="queryProductThirdDivide" parameterType="com.emotte.order.order.model.ProductThirdDivide" resultType="com.emotte.order.order.model.ProductThirdDivide">
		select 
			t.id as id,
			t.product_dict_price_id as productDictPriceId,
			t.oneself_fee as oneselfFee,
			t.others_fee as othersFee,
			t.divide_type as divideType,
			t.flag as flag,
			t.create_by as createBy,
			t.update_by as updateBy,
			to_char(t.create_time,'yyyy-mm-dd hh24:mi:ss') as createTime,
			to_char(t.update_time,'yyyy-mm-dd hh24:mi:ss') as updateTime,
			t.valid as valid,
			t.version as version,
			t.oneself_scale as oneselfScale,
			t.others_scale as othersScale
	 		from t_product_third_divide t 
		<where>
			1 = 1 
			<if test="id != null and id != ''">
				and t.id = #{id} 
			</if>
			<if test="productDictPriceId != null and productDictPriceId != ''">
				and t.product_dict_price_id = #{productDictPriceId} 
			</if>
			<if test="oneselfFee != null and oneselfFee != ''">
				and t.oneself_fee = #{oneselfFee} 
			</if>
			<if test="othersFee != null and othersFee != ''">
				and t.others_fee = #{othersFee} 
			</if>
			<if test="divideType != null and divideType != ''">
				and t.divide_type = #{divideType} 
			</if>
			<if test="flag != null and flag != ''">
				and t.flag = #{flag} 
			</if>
			<!-- <if test="createBy != null and createBy != ''">
				and t.create_by = #{createBy} 
			</if>
			<if test="updateBy != null and updateBy != ''">
				and t.update_by = #{updateBy} 
			</if>
			<if test="createTime != null and createTime != ''">
				and t.create_time = #{createTime} 
			</if>
			<if test="updateTime != null and updateTime != ''">
				and t.update_time = #{updateTime} 
			</if> -->
			<if test="valid != null and valid != ''">
				and t.valid = #{valid} 
			</if>
			<if test="version != null and version != ''">
				and t.version = #{version} 
			</if>
			<if test="oneselfScale != null and oneselfScale != ''">
				and t.oneself_scale = #{oneselfScale} 
			</if>
			<if test="othersScale != null and othersScale != ''">
				and t.others_scale = #{othersScale} 
			</if>
		</where>
	</select>
</mapper>