<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.emotte.order.order.mapper.writer.WrThreeOrderMapper">
	<insert id="insertThreeOrder" parameterType="com.emotte.order.order.model.ThreeOrderInModel">
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="id">  
	       SELECT getseq() as ID from DUAL  
	   </selectKey> 
		insert into t_order ( 
			id ,			
			order_code ,			
			parent_id ,			
			user_id ,			
			user_name ,			
			user_province ,			
			user_city ,			
			user_area ,			
			user_address ,			
			user_mobile ,			
			user_email ,
			receiver_name ,			
			receiver_province ,			
			receiver_city ,			
			receiver_area ,			
			receiver_zipcode ,			
			receiver_address ,
			longitude ,			
			latitude ,		
			receiver_mobile ,			
			receiver_email ,			
			order_type ,			
			order_channel ,			
			order_source_id ,			
			order_status ,			
			auth_manager_id ,			
			create_by ,			
			create_time ,			
			update_by ,			
			update_time ,			
			version ,			
			critical ,			
			remark ,			
			sendtime_type ,			
			is_invoice ,			
			vendor_id ,			
			invoice_type ,			
			invoice_memo ,			
			pay_status ,			
			total_pay ,			
			deliver_pay ,			
			ip ,			
			invite_code ,			
			user_level ,			
			order_groupid ,
			user_sex ,
			user_birth ,
			cate_type,
			price_type,
			receiver_city_code,
			user_city_code,
			receipt_Time,
			valid,
			CREATE_DEPT,
			RECHARGE_BY,
			RECHARGE_DEPT,
			<!-- FOLLOW_BY,
			FOLLOW_DEPT, -->
			city
		) values (		
			#{id},		
			getseq() ,				
			#{parentId} ,				
			#{userId} ,				
			#{userName} ,				
			#{userProvince} ,				
			#{userCity} ,				
			#{userArea} ,				
			#{userAddress} ,				
			#{userMobile} ,				
			#{userEmail} ,			
			#{receiverName} ,				
			#{receiverProvince} ,				
			#{receiverCity} ,				
			#{receiverArea} ,				
			#{receiverZipcode} ,				
			#{receiverAddress} ,
			#{longitude} ,				
			#{latitude} ,	
			#{receiverMobile} ,				
			#{receiverEmail} ,				
			#{orderType} ,				
			#{orderChannel} ,				
			#{orderSourceId} ,				
			#{orderStatus} ,				
			#{authManagerId} ,				
			#{createBy} ,				
			sysdate ,				
			#{updateBy} ,				
			sysdate ,				
			#{version} ,				
			#{critical} ,				
			#{remark} ,				
			#{sendtimeType} ,				
			#{isInvoice} ,				
			#{vendorId} ,				
			#{invoiceType} ,				
			#{invoiceMemo} ,				
			#{payStatus} ,				
			#{totalPay} ,				
			#{deliverPay} ,				
			#{ip} ,				
			#{inviteCode} ,				
			#{userLevel} ,				
			#{orderGroupid} ,
			#{userSex} ,
			to_date( #{userBirth},'yyyy-MM-dd hh24:mi:ss') ,
			#{cateType},
			#{priceType},
			#{receiverCityCode},
			#{userCityCode},
			to_date( #{receiptTime},'yyyy-MM-dd hh24:mi:ss'),
			#{valid},
			#{createDept},
			#{rechargeBy},
			#{rechargeDept},
			<!-- #{followBy},
			#{followDept}, -->
			#{city}
			
		)
	</insert>
</mapper>