<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="com.emotte.order.warehouse.mapper.reader.ReOrderParcelMapper">
			
		<select id="selectOrderComplete" parameterType="com.emotte.order.warehouse.model.Order" resultType="com.emotte.order.warehouse.model.Order">
		select 
			id as id ,			
			order_code as orderCode ,			
			parent_id as parentId ,			
			user_id as userId ,			
			user_name as userName ,			
			user_province as userProvince ,			
			user_city as userCity ,			
			user_area as userArea ,			
			user_address as userAddress ,			
			user_mobile as userMobile ,			
			user_email as userEmail ,
			receiver_name as receiverName ,			
			receiver_province as receiverProvince ,			
			receiver_city as receiverCity ,			
			receiver_area as receiverArea ,			
			receiver_zipcode as receiverZipcode ,			
			receiver_address as receiverAddress ,
			longitude as longitude ,			
			latitude as latitude ,	
			receiver_mobile as receiverMobile ,			
			receiver_email as receiverEmail ,			
			order_type as orderType ,			
			order_channel as orderChannel ,			
			order_source_id as orderSourceId ,			
			order_status as orderStatus ,			
			auth_manager_id as authManagerId ,			
			create_by as createBy ,			
			create_time as createTime ,			
			update_by as updateBy ,			
			update_time as updateTime ,			
			version as version ,			
			critical as critical ,				
			remark as remark ,			
			sendtime_type as sendtimeType ,			
			is_invoice as isInvoice ,			
			vendor_id as vendorId ,			
			invoice_type as invoiceType ,			
			invoice_memo as invoiceMemo ,			
			pay_status as payStatus ,			
			total_pay as totalPay ,			
			deliver_pay as deliverPay ,			
			ip as ip ,			
			invite_code as inviteCode ,			
			user_level as userLevel ,			
			order_groupid as orderGroupid ,
			user_sex as userSex,
			user_birth as userBirth,
			cate_type as cateType
		from t_order
		where
			id=#{id} 	</select>	
			<select id="OrderCode" parameterType="com.emotte.order.warehouse.model.Order" resultType="com.emotte.order.warehouse.model.Order">
		select 
			id as id ,			
			order_code as orderCode ,			
			parent_id as parentId ,			
			user_id as userId ,			
			user_name as userName ,			
			user_province as userProvince ,			
			user_city as userCity ,			
			user_area as userArea ,			
			user_address as userAddress ,			
			user_mobile as userMobile ,			
			user_email as userEmail ,
			receiver_name as receiverName ,			
			receiver_province as receiverProvince ,			
			receiver_city as receiverCity ,			
			receiver_area as receiverArea ,			
			receiver_zipcode as receiverZipcode ,			
			receiver_address as receiverAddress ,
			longitude as longitude ,			
			latitude as latitude ,	
			receiver_mobile as receiverMobile ,			
			receiver_email as receiverEmail ,			
			order_type as orderType ,			
			order_channel as orderChannel ,			
			order_source_id as orderSourceId ,			
			order_status as orderStatus ,			
			auth_manager_id as authManagerId ,			
			create_by as createBy ,			
			create_time as createTime ,			
			update_by as updateBy ,			
			update_time as updateTime ,			
			version as version ,			
			critical as critical ,				
			remark as remark ,			
			sendtime_type as sendtimeType ,			
			is_invoice as isInvoice ,			
			vendor_id as vendorId ,			
			invoice_type as invoiceType ,			
			invoice_memo as invoiceMemo ,			
			pay_status as payStatus ,			
			total_pay as totalPay ,			
			deliver_pay as deliverPay ,			
			ip as ip ,			
			invite_code as inviteCode ,			
			user_level as userLevel ,			
			order_groupid as orderGroupid ,
			user_sex as userSex,
			user_birth as userBirth,
			cate_type as cateType
		from t_order
		where
			order_code=#{orderCode} 	</select>
</mapper>